<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cn.com.quantdo.JumpToNative" version="0.0.1">
    <name>JumpToNative</name>
    <description>This plugin is used to jump page from UIWebView to Native page.</description>
    <author>Tarkzeng</author>
    <license>Apache 2.0</license>
    <keywords>cordova,device,app groups</keywords>
    <repo>https://github.com/protonet/cordova-plugin-nsuserdefaults-for-app-groups</repo>
    
    <js-module src="www/jump_to_native.js" name="JumpToNative">
        <clobbers target="JumpToNative" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JumpToNative">
                <param name="ios-package" value="JumpToNative" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/JumpToNative.h" />
        <source-file src="src/ios/JumpToNative.m" />
    </platform>
</plugin>
